body {
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
}

.navbar-color,
button {
    background-color: white;
}

.myshadow {
    background-color: white;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.123);
}

.firstbox {
    background-color: #ee5923;
}

a:link,
a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #ee5923;
}

h4, h1 {
    color: white !important;
}

.transition,
button {
    transition: 0.2s;
}

input,
textarea {
    padding: 6px;
    outline: none;
    border: solid 1px rgba(224, 224, 224, 0.267);
    background-color: rgba(224, 224, 224, 0.267);
    border-radius: 10px;
}

.width {
    width: 20vw !important;
}

button.firstbutton {
    border: none;
    font-size: large;
}

button {
    border: solid 1px #ee5923;
    border-radius: 5px!important;
}

button:hover {
    background-color: #f76f3e;
}

.size {
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.icons, a.text {
    color: white;
}

.text:hover {
    color: #2E282A;
}

p {
    margin: 0 !important;
}

.manualpadding {
    padding-bottom: 200px;
    padding-top: 48px;
}

.marginwrapping {
    margin-left: 3rem;
}

.margin {
    margin-left: 1rem;
}
@media only screen and (max-width: 768px) {

    [class*="width"] {
        width: 40vw !important;
    }
}

@media only screen and (min-width: 268px) and (max-width: 568px){

    [class*="width"] {
        width: 80vw !important;
    }
    [class*="wraping"]  {
        margin-left: 0!important;
        flex-wrap: wrap!important;
    }
}

@media only screen and (min-width: 268px) and (max-width: 990px){
    [class*="size"] {
        margin-top: 2rem;
    }
    [class*="myshadow"] {
        margin: 0!important;
        box-shadow: 0 0 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 990px){

    [class*="width"] {
        width: 40vw !important;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1226px){

    [class*="width"] {
        width: 38vw !important;
    }
    [class*="wraping"]  {
        margin-left: 0!important;
        flex-wrap: wrap!important;
    }
}

.img {
    background-image: url("../img/thing.png");
}
.img2 {
    background-image: url("../img/thing2.png");
}

.icon {
    width: 100%;
    height: 25px;
}

::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #c94c1e;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #e25927;
  }